/* siznax 2015 */

body {
    margin:0;
    padding:0;
    background:#242424;
}
a {
    text-decoration:none;
}
div#console {
    margin-top:8px;
    margin-left:auto;
    margin-right:auto;
    padding:8px;
    text-align:center;
    font-family:sans-serif;
    font-weight:100;
    font-size:16px;
    color:#99968b;
    color:#cae682;
    opacity:0.6;
}
span#title {
    color:#ffc125;
}
div#view {
    position:absolute;
    margin:32px;
    margin-top:40px;
}
div.cell {
    position:absolute;
    margin:0;
    padding:0;

    text-align:center;
    vertical-align:center;

    width:32px;
    height:32px;
    line-height:38px;
    font-size:24px;
    border-radius:32px;

    font-family:monospace;
}
div.cell a {
    color:#cae682;
}
div#info_layer {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
div#info {
    width:66%;
    margin-top:96px;
    margin-left:auto;
    margin-right:auto;
    padding:1em;
    overflow:none;
    background:whitesmoke;
    z-index:2;
    border-radius:8px;
    font-size:1.4em;
}
div#info p {
    margin-top:0;
    margin-bottom:0;
}
div#charpoy {
    float:left;
    font-size:2em;
    margin-right:0.4em;
    margin-bottom:0.2em;
}
